* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto;
  background-size: cover;
  background-image: url('images/disco.jpg');
}

.welcome-message {
  position: absolute;
  z-index: 1;
  background-color: #1ABF85;
  border: 1px solid black;
  height: 50vh;
  width: 50vw;
  margin-left: 340px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wheel-logo {
  width: 60%;
}

.start-game-button {
  width: 200px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.container {
  padding: 10px 5px 20px 10px;
}

.players-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player {
  border: black 1px solid;
  border-radius: 80px;
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.avatar {

}

.name-bank {
  display: flex;
  flex-direction: column;
}

.board-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-board {
  width: 100%;
  height: 300px;
}

.game-board-row {
  display: flex;
  justify-content: center;

}

.game-board-box {
  background-color: #01A869;
  display: block;
  float: left;
  height: 70px;
  width: 70px;
  position: relative;
  border: 1px solid black;
  margin: 1.5px;
}

.category-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category-display {
  width: 773px;
  height: 45px;
  border-top: orange 5px double;
  border-bottom: orange 5px double;
  margin-left: 50px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.logo {
  width: 120px;
  height: 100px;
  padding: 10px;
  background-image: url("WOF-logo1.png");
}

.letter-bank-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: 
  space-around;
}

.letter-bank {
  border-top: orange 5px double;
  border-bottom: orange 5px double;
  height: 45px;
  width: 80%;
}

.action-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  background-image: repeating-linear-gradient(to right, gold, orange 40px, gold 60px);
  color: white;
  font-size: 20px;
  border: orange 5px double;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 20px;
}