* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto;
  background-size: cover;
  background-image: url('images/disco.jpg');
}

.welcome-message {
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(#A8F2F9, #01A869);
  border: 10px solid orange;
  height: 70%;
  width: 65%;
  left: 250px;
  top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
}

.wheel-logo {
  height: 80%;
}

.start-game-button {
  width: 200px;
  font-size: 18px;
  height: 40px;
  font-weight: bold;
  color: white;
  border: orange 5px double;
  background-image: linear-gradient(#A8F2F9, #01A869);
}

.start-game-button:hover {
  background-color: #8b74f2;
  cursor: url(images/pbox.png), auto;
}

.hidden {
  display: none;
}

.container {
  padding: 10px 5px 20px 10px;
}

.players-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 40px;
}

.player {
  border: orange 5px double;
  height: 75px;
  width: 210px;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 50px 10px 50px;
  border-radius: 5px;
}

.avatar {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  justify-content: space-around;
  height: 130%;
  border: 5px double orange;
  border-radius: 50%;
  width: 45%;
  z-index: 1;
  margin-left: -76px;
  background-image: repeating-linear-gradient(to right, gold, orange 40px, gold 60px);

}

.player-name {
  font-size: 16px;
}

.name-bank {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
  align-items: center;
}

.round-money{
  font-size: 20px;
}

.board-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
}

.game-board {
  width: 100%;
}

.game-board-row {
  display: flex;
  justify-content: center;
}

.game-board-box {
  background-color: #01A869;
  display: block;
  float: left;
  height: 80px;
  width: 65px;
  position: relative;
  border: 1px solid black;
  margin: 1px;
}

hr {
  border: #A8F2F9 2px solid;
  width: 800px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.lights {
  display: flex;
  justify-content: center;
}

.light-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: orange;
  margin: 0px 22px;
}

hr.game-outline {
  border: #A8F2F9 2px solid;
  width: 800px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.category-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0px 10px 0px;
}

.category-display {
  width: 200px;
  height: 45px;
  border: orange 5px double;
  margin-left: 5px;
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 10px 0px 5px 0px;

}

/*.logo {
  width: 10px;
  height: 10px;
  padding: 10px;
  background-image: url("WOF-logo1.png");
}*/

.letter-bank-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: 
  space-around;
  padding-bottom: 10px;
}

.letter-bank {
  border-top: orange 5px double;
  border-bottom: orange 5px double;
  height: 45px;
  width: 800px;
  display: flex;
  justify-content: center;
}

.letters {
  background-color: #E3F1F3;
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
  margin: 2px 2px;
  padding: 8px 10px;
}

.action-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}

.button {
  background-image: repeating-linear-gradient(to right, gold, orange 40px, gold 60px);
  color: white;
  font-size: 20px;
  border: orange 5px double;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 20px;
}