* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto;
  /*background-image: linear-gradient(to bottom right, #798df2, #9778f1);*/
  
 /* background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);*/
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  background-size: cover;
  background-repeat: no-repeat;
}


.welcome-message {
  position: absolute;
  z-index: 1;
  background-color: #1ABF85;
  border: 6px solid white;
  outline: 1px solid black;
  height: 60%;
  width: 80%;
  left: 100px;
  top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
}




.wheel-logo {
  height: 80%;
}

.start-game-button {
  width: 200px;
  font-size: 20px;
  background-color: #8F29E9;
  height: 40px;
  color: white;
  font-weight: bold;
  border: 2px solid white;
}

.start-game-button:hover {
  background-color: #8b74f2;
  cursor: url(images/pbox.png), auto;
}

.hidden {
  display: none;
}

.container {
  padding: 10px 5px 20px 10px;
}

.players-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player {
  border: white 2px solid;
  border-radius: 80px;
  height: 100px;
  width: 300px;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.player-1 {
  background-color: red;
}

.player-2 {
  background-color: yellow;
}

.player-3 {
  background-color: blue;
}

.avatar {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  justify-content: space-around;
  height: 100%;

}

.player-name {
  font-size: 16px;
}

.name-bank {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.round-money{
  font-size: 50px;
}

.board-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-board {
  width: 100%;
  /*height: 300px;*/
}

.game-board-row {
  display: flex;
  justify-content: center;
}

.game-board-box {
  /*background-color: #1ABF85;*/
  background-image: radial-gradient(circle, #77f0c4 2%, #1ABF85);
  display: block;
  float: left;
  height: 80px;
  width: 65px;
  position: relative;
  border: 2px solid black;
  margin: 1.5px;
}

.category-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category-display {
  width: 773px;
  height: 80px;
  border: solid 1px black;
  margin-left: 50px;
}

.logo {
  width: 20px;
  height: 80px;
  padding: 10px;
}

.letter-bank-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: 
  space-around;
}

.letter-bank {
  border: black 1px solid;
  height: 80px;
  width: 80%;
}

.action-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  background-color: #8F29E9;
  color: white;
  font-size: 20px;
  border: black 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 20px;
}